<div style="text-align: center; margin-top: 20mm; margin-bottom: 20mm;">
    <h1 style="color: rgb(0, 0, 0); font-size: 70px;"> First Step</h1>
</div>
<div style="text-align: center; margin-bottom: 20mm;">
    <h1 style="color: rgb(0, 0, 0); font-size: 25px;"> Visualizing Air Pollution (PM 2.5) on a Map</h1>
</div>
<div style="text-align: center; margin-bottom: 10mm;">
    <p>
        CREATE table “AirPollutionPM25” ประกอบด้วย 12 รายการต่อไปนี้: Country,<br>
        City, Year, Pm25, Latitude, Longitude,
        Population, Wbinc16_text, Region,
        Conc_pm25, Color_pm25, Geom
    </p>
</div>
<div style="text-align: center; margin-bottom: 10mm; color: #426D54;">
    <p>
       CREATE TABLE AirPollutionPM25(  ID int IDENTITY(1,1)<br> NOT NULL,  Country varchar(255),<br>  City varchar(255),<br>  Year int,  Pm25 float, Latitude float, Longtitude float,<br>   Population float,<br>   Wbinc16_text varchar(255),<br>  Region varchar(255),<br>   Conc_pm25 varchar(255),<br>   Color_pm25 varchar(255),<br>   geom GEOMETRY, );
    </p>
</div>
<div class="d-flex justify-content-center my-5">
    <div class="my-google-map">
        <google-map [options]="mapOptions">
           <map-marker [position]="marker.position"></map-marker>
        </google-map>
     </div>
</div>
<div class="row my-5 mx-5">
    <div class="col float-start" style="font-size: 30px;"> 
        <a routerLink="/home" routerLinkActive="active" style="text-decoration: none; color:black;"> < Back </a>
    </div>
    <div class="col text-right"> 
        <button class="btn btn-success px-4 py-3" routerLink="/step2" routerLinkActive="active"> Next ></button>
    </div>
</div>
