<div style="text-align: center; margin-top: 20mm; margin-bottom: 10mm;">
    <h1 style="color: rgb(0, 0, 0); font-size: 70px;"> Insert Year and Color</h1>
</div>
<div style="text-align: center; margin-bottom: 10mm;">
    <h1 style="color: rgb(0, 0, 0); font-size: 35px;">calculate a total of the affected population</h1>
</div>
<div style="text-align: center; margin-bottom: 30mm;">
    <p>
        D1) Given a < year_input > and an input of < color_pm25 > level of health concern
        <br>from the user.
    </p>
</div>
<div style="margin-left: 50mm; margin-right:50mm">
    <div class="row text-center">
        <h5 class="col"> Choose Year</h5>
        <h5 class="col"> Choose Color</h5>
    </div>
    
    <div class="row my-5">
        <select class="form-select col" style="width: 20%;" [(ngModel)]="year"  aria-label="Default select example">
            <option selected></option>
            <option value="2007">2007</option>
            <option value="2008">2008</option>
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
        </select>
        <select class="form-select col" style="width: 20%;" [(ngModel)]="color"  aria-label="Default select example">
            <option selected></option>
            <option value="Red">Red</option>
            <option value="Green">Green</option>
            <option value="Yellow">Yellow</option>
            <option value="darkred">Dark Red</option>
            <option value="darkorange">Dark Orange</option>
            <option value="Orange">Orange</option>
        </select>
    </div>
</div>
<div style = "margin-left: 50mm; margin-right: 50mm; margin-bottom: 20mm; margin-top:10mm ;"> 
    <div *ngIf="toShow" class="table text-center mx-auto" style="width: 100%; border-style: solid; border-radius: 5mm;">
            <h2 style="color: #426D54;">{{object}} People</h2>
    </div>
</div>
<div class="text-center" style="margin-bottom: 50mm;">
    <button type="button" class="btn btn-success px-5" (click)="callAP()">Calculate</button>
</div>
<div class="row my-5 mx-5">
    <div class="col float-start" style="font-size: 30px;"> 
        <a routerLink="/step4c2" routerLinkActive="active" style="text-decoration: none; color:black;"> < Back </a>
    </div>
    <div class="col text-right"> 
        <button class="btn btn-success px-4 py-3" routerLink="/step5" routerLinkActive="active"> Next ></button>
    </div>
</div>
