<div style="text-align: center; margin-top: 20mm; margin-bottom: 10mm;">
    <h1 style="color: rgb(0, 0, 0); font-size: 70px;"> Insert Year and Color</h1>
</div>
<div style="text-align: center; margin-bottom: 10mm;">
    <h1 style="color: rgb(0, 0, 0); font-size: 35px;">calculate a total of the affected population</h1>
</div>
<div style="text-align: center; margin-bottom: 30mm;">
    <p>
        D1) Given a < year_input > and an input of < color_pm25 > level of health concern
        <br>from the user.
    </p>
</div>
<div class="row my-5">
    <div class="dropdown text-center mx-5 col">
        <button class="btn btn-success dropdown-toggle px-5" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose Year
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" value="2012">2012</a>
        <a class="dropdown-item" href="#" value="2013">2013</a>
        <a class="dropdown-item" href="#" value="2014">2014</a>
        </div>
    </div>
    <div class="dropdown text-center mx-5 col">
        <button class="btn btn-success dropdown-toggle px-5" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose Color
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" value="red">Red</a>
        <a class="dropdown-item" href="#" value="yellow">Yellow</a>
        <a class="dropdown-item" href="#" value="blue">blue</a>
        </div>
    </div>
</div>
<div *ngIf="showPop" class="show number of pop">
    <div>
        pop1000000
    </div>
</div>
<div class="text-center" style="margin-bottom: 50mm;">
    <button type="button" class="btn btn-success px-5">Calculate</button>
</div>
<div class="row my-5 mx-5">
    <div class="col float-start" style="font-size: 30px;"> 
        <a routerLink="/step4c2" routerLinkActive="active" style="text-decoration: none; color:black;"> < Back </a>
    </div>
</div>
