<div class="py-5" style="background-color: #5A8559;">
    <div style="text-align: center; padding-top: 20mm;">
        <h2 style="color: rgb(255, 255, 255); font-size: 40px;"> Air Pollution (PM2.5) </h2>
    </div>
    <div style="text-align: center; padding-top: 10mm;">
        <p style="color: rgb(255, 255, 255); font-size: 20px;"> Visualizing Air Pollution (PM 2.5) on a Map </p>
        <button class="btn btn-primary my-3" routerLink="/step1"> Get Started</button>
    </div>
    <div class="d-flex justify-content-center">
        <div class="my-google-map">
            <google-map [options]="mapOptions">
            <map-marker [position]="marker.position"></map-marker>
            </google-map>
        </div>
    </div>
</div>