<div style="text-align: center; margin-top: 20mm; margin-bottom: 10mm;">
    <h1 style="color: rgb(0, 0, 0); font-size: 70px;"> Insert country name</h1>
</div>
<div style="text-align: center; margin-bottom: 10mm;">
    <h1 style="color: rgb(0, 0, 0); font-size: 35px;">to see historical PM 2.5 values by year.</h1>
</div>
<div style="text-align: center; margin-bottom: 10mm;">
    <p>
        C2) Given a < country_input > from the user.
    </p>
</div>
<div class="text-center" style="margin-left: 70mm; margin-right: 70mm;">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon2"><i class="fa fa-search"></i></div>
        </div>
        <input class="form-control py-2 border-right-0 border" [(ngModel)]="texting" type="text" placeholder="Search">
    </div>
</div>
<div class="row my-5 mx-5">
    <div class="col float-start" style="font-size: 30px;"> 
        <a routerLink="/step4b" routerLinkActive="active" style="text-decoration: none; color:black;"> < Back </a>
    </div>
    <div class="col text-right"> 
        <button class="btn btn-success px-4 py-3" routerLink="/step4c2" routerLinkActive="active"> Next ></button>
    </div>
</div>
