<div class="py-3 px-3" style="background-color: #426D54">
    <a style="color: white; font-style: normal; font-size: 28px; margin-right: 80mm; text-decoration: none;" routerLink="home"> Spatial GIS</a>
    <a style="color: white; font-style: normal; font-size: 20px; margin-right: 20mm; text-decoration: none;" routerLink="step1"> STEP1</a>
    <a style="color: white; font-style: normal; font-size: 20px; margin-right: 20mm; text-decoration: none;" routerLink="step2"> STEP2</a>
    <a style="color: white; font-style: normal; font-size: 20px; margin-right: 20mm; text-decoration: none;" routerLink="step3"> STEP3</a>
    <a style="color: white; font-style: normal; font-size: 20px; margin-right: 20mm; text-decoration: none;" routerLink="step4"> STEP4</a>
    <a style="color: white; font-style: normal; font-size: 20px; margin-right: 20mm; text-decoration: none;" routerLink="step5"> STEP5</a>
    <a style="color: white; font-style: normal; font-size: 20px; margin-right: 20mm; text-decoration: none;" routerLink="step1"> MEMBER</a>
</div>