<app-navbar></app-navbar>
<!-- <div class="row">
  <button routerLink="part-mat" type="button" class="btn btn-primary col font-weight-bold"> Particulate Matter</button>
  <button routerLink="populations" type="button" class="btn btn-secondary col font-weight-bold">Populations</button>
  <button routerLink="lowin" type="button" class="btn btn-dark col font-weight-bold" > Low Income</button>
  <button routerLink="mbr" type="button" class="btn btn btn-info col font-weight-bold"> MBR</button>
</div> -->
<router-outlet></router-outlet>
<app-footer></app-footer>