
<div style="text-align: center; margin-top: 20mm; margin-bottom: 50mm;">
    <h1 style="color: rgb(0, 0, 0); font-size: 70px;">Team Members</h1>

<div class="container mb-20">
    <div class="Teacher">
        <img [src]="'/assets/picture/AJ.png'" alt="pic0"/>
    </div>

    <div class ="t1" >
        <p class="border-radius ">อาจารย์กุลสวัสดิ์ จิตขจรวานิช</p>
        <p>อาจารย์ที่ปรึกษาโปรเจควิชา <br>Spatial Databases & GIS Applications</p>
    </div>

    <div class="m1">
         <img [src]="'/assets/picture/1.png'" alt="pic1"/>
            <p class="border-radius ">62050195 พชรพล สุขชม</p>
            <p>ทำหน้าที่ Wireframe</p>
    </div>
    <div class="m2">
        <img [src]="'/assets/picture/2.png'" alt="pic2"/>
        <p class="border-radius ">62050169 ธนบัตร เศียรเขียว</p>
        <p>ทำหน้าที่ Front-End developer</p>
    </div>
    <div class="m3">
        <img [src]="'/assets/picture/3.png'" alt="pic3"/>
        <p class="border-radius ">62050176 ธิติภาส คงไทย</p>
        <p>ทำหน้าที่ Back-End developer</p>
    </div>
    <div class="m4">
        <img [src]="'/assets/picture/4.png'" alt="pic4"/>
        <p class="border-radius ">62011019 นายอภิรักษ์ อุลิศ</p>
        <p>ทำหน้าที่ Front-End developer, Wireframe</p>
    </div>
    <div class="m5">
        <img [src]="'/assets/picture/5.png'" alt="pic5"/>
        <p class="border-radius ">62050145 ชาสิณี เลิศเพียรเชาวน์</p>
        <p>ทำหน้าที่ Wireframe</p>
    </div>
   
    <div class="m6">
        <img [src]="'/assets/picture/6.png'" alt="pic6"/>
        <p class="border-radius ">63050176 รินรดา ละเอียด</p>
        <p>ทำหน้าที่ UI/UX designer</p>
    </div>
    <div class="m7">
        <img [src]="'/assets/picture/7.png'" alt="pic7"/>
        <p class="border-radius ">63050169 ภูธเนศ ประสินธิ์สิน</p>
        <p>ทำหน้าที่ UI/UX designer</p>
    </div>
    <div class="m8">
        <img [src]="'/assets/picture/8.png'" alt="pic8"/>
        <p class="border-radius ">63050145 ธรรมสรณ์ วิสุทธิ์เทพ</p>
        <p>ทำหน้าที่ UI/UX designer</p>
    </div>
   
</div>