<div style="text-align: center; margin-top: 20mm; margin-bottom: 20mm;">
    <h1 style="color: rgb(0, 0, 0); font-size: 70px;">Fifth Step</h1>
</div>
<div style="text-align: center; margin-bottom: 10mm;">
    <h1 style="color: rgb(0, 0, 0); font-size: 25px;">Visualize the map results on the Web</h1>
</div>
<div style="text-align: center; margin-bottom: 10mm;">
    <p  style="text-align: center;">
        F1) Given a year_input from the user.<br>
        F2) Visualize all the city points which are considered as “low income” (as specified in column wbinc16_text).
    </p>
</div>
<div style="margin-left: 50mm; margin-right:50mm">
    <div class="row text-center">
        <h5 class="col"> Choose Year</h5>
        <h5 class="col"> Click to calculate</h5>
    </div>
    
    <div class="row my-5">
        <select class="form-select col" style="width: 20%;" [(ngModel)]="year"  aria-label="Default select example">
            <option selected></option>
            <option value="2007">2007</option>
            <option value="2008">2008</option>
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
        </select>
       <button class="col btn btn-success" (click)="callAP()">Calculate</button>
    </div>
</div>
<div class="d-flex justify-content-center">
    <google-map height="600px"
            width="800px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="addMarker($event)">
  <map-marker #marker="mapMarker"
              *ngFor="let markerPosition of markerPositions"
              [position]="markerPosition"
              (mapClick)="openInfoWindow(marker)"></map-marker>
  <map-info-window>Info Window content</map-info-window>
</google-map>
</div>

<div class="row my-5 mx-5">
    <div class="col float-start" style="font-size: 30px;"> 
        <a routerLink="/step5e" routerLinkActive="active" style="text-decoration: none; color:black;"> < Back </a>
    </div>
    <div class="col text-right"> 
        <button  class="btn btn-success px-4 py-3" routerLink="/step5f2" routerLinkActive="active"> Next ></button>
    </div>
</div>






